.login #logo {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
}

@media (min-width: 768px) {
  /* Vertical centering */

  .login .parent {
    position: relative;
    height: 100vh;
  }

  .login .vertCentered {
    position:absolute;
    top: 40%;
    transform: translateY(-50%);
  }

  .elementhide {
    display: none;
  }

  .divFMA {
    height: 40px;
  }

  .divFMA2 {
    height: 20px;
  }

  .divFMA3 {
    display: flex; 
    justify-content: left;
  }

  .qr_container{
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
  }
}
