body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Open sans', sans-serif;
    background: #ecedf0 !important;
}

.app-container {
    max-width: 1500px;
    margin: auto;
}

.dollar-sign,
.percent-sign {
    color: #bbbbbb;
    font-weight: 300;
}

.percent-bold {
    font-weight: 500;
}

.badge {
  background-color: #5579db;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.account-status-badge {
    margin: 2px;
}

.account-status-badge i {
    font-size: 12px !important;
}

.card-label {
  color: #808080;
  font-weight: 300;
  font-size: 16px;
}

.card-icon {
    font-size: 1.4em;
}

.in-col {
    list-style: none;
    padding: 0;
    margin: 0;
}

.in-col li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.total-cell .dollar-sign {
    color: #4885ed;
}

.font-light-medium {
  font-weight: 500 !important;
}

.font-light {
  font-weight: 300 !important;
}

.popover {
    border-radius: 0px;
}

.popover-title {
    background-color: white;
    color: black;
}

select {
  height: 34px;
  color: #4885ed;
  background-color: #fff;
  border-color: #f1f1f1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

select,
.table-toggle {
    margin: 0 10px;
}

.row-eq-height {
    display: flex;
    width: 100%;
}

/* BORDERS */

.br {
    border-right: 1px solid rgba(120, 130, 140, .13);
}

.bl {
    border-left: 1px solid rgba(120, 130, 140, .13);
}

.bt {
    border-top: 1px solid rgba(120, 130, 140, .13);
}

.bb {
    border-bottom: 1px solid rgba(120, 130, 140, .13);
}


/* BUTTONS */

button {
    font-family: 'Rubik', 'Open sans', sans-serif;
}

.btn-default, .btn-default:focus, .btn-default:hover {
    color: #4885ed;
    background-color: #fff;
    border-color: #f1f1f1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary, .btn-primary:focus, .btn-primary:hover {
    color: white;
    background-color: #4885ed;
    border-color: #4885ed;
}

.btn-danger, .btn-danger:focus, .btn-danger:hover {
    color: #d9534f;
    background-color: #fff;
    border-color: #f1f1f1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.no-click, .no-click:active, .no-click:focus, .no-click:hover, .no-click:active:focus, .no-click:active:hover {
    color: #4885ed;
    background-color: #fff;
}

/* COLORS */

.red-color {
    color: #2d6eb9;
}

.red-bg {
    background-color: #2d6eb9;
}

.orange-color {
    color: #ff9800;
}

.orange-bg {
    background-color: #ff9800;
}

.green-color {
    color: #4caf50;
}

.green-bg {
    background-color: #4caf50;
}

.blue-color {
    color: #4885ed;
}

.blue-bg {
    background-color: #4885ed;
}

.purple-color {
    color: #9C27B0;
}

.purple-bg {
    background-color: #9C27B0;
}

.grey-color {
    color: #565656;
}

.grey-bg {
    background-color: #565656;
}



/* WHITE BOX */
.react-grid-item {
    overflow-y: hidden;
}

.white-box {
    background: #fdfdfd;
    padding: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.white-box .white-box-title {
    margin: 0px;
    padding-bottom: 20px;
    line-height: inherit;
}

.white-box.no-padding {
    padding: 0px;
}

.white-box.no-padding .white-box-title {
    margin: 0px;
    padding: 20px;
}

.white-box-title .white-box-title-icon {
    width: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 7px;
    margin-top: 9px;
}

.white-box-title > i.fa {
    color: #4885ed;
}

.form-control {
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    margin: 0;
    transition: all 300ms linear 0s;
}

label {
    font-weight: 500;
}

/* Date Range Picker */
.daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #ddd;
    text-decoration: none;
}

/* Overriding React Table styling */

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    -webkit-box-shadow: inset 0 3px 0 0 rgba(213, 65, 60, 1);
    box-shadow: inset 0 3px 0 0 rgba(213, 65, 60, 1);
}

.ReactTable strong {
    font-weight: 500;
}

.ReactTable .-pagination .-btn {
    color: #4885ed;
}


/* Dropdown menus */

.dropdown-menu>li>a, .dropdown-menu>li>.dropdown-title {
    padding: 9px 20px;
}

.dropdown-menu {
    border: 1px solid rgba(120, 130, 140, .13);
    border-radius: 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .05)!important;
    -webkit-box-shadow: 0!important;
    -moz-box-shadow: 0!important;
    padding-bottom: 8px;
    margin-top: 0;
}

/* Spinner */

.spinner {
    margin: auto;
}

/* S3 Analytics */
.s3-card {
    width: 20%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nvd3.nv-pie .nv-pie-title {
    fill: #5a5a5a !important;
}

.s3analytics.piechart h2 {
    text-transform: capitalize;
    text-align: center;
	font-size: 22px;
}

/* Dashboard */
.dashboard-item {
    padding: 5px;
}

.dashboard-item-content {
    padding: 25px;
}

.dashboard-btn-group {
    margin-left: 20px;
}

.dashboard-btn-group-title {
    margin-right: 10px;
}

.dashboard-btn-group-title img,
.dashboard-item-icon img {
    height: 20px;
}

.dashboard-btn-group-title i,
.dashboard-item-icon i {
    font-size: 20px;
}

.dashboard-item-icon {
    margin: 5px;
    float: left;
    color: #bbb;
    font-size: 15px;
}

.dashboard-item-icon > i.fa {
    font-size: 17px;
}

h4.no-data {
    text-align: center;
    margin-top: 25px;
}

.dashboard-item-content .popover-trigger {
    margin: 0 10px;
    font-size: inherit;
}

/* Cost Breakdown */

.cb-card {
    width: 30%;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* High Level views */

.hl-card {
    width: 31%;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hl-panel {
    height: 400px;
}

.hl-panel-title {
    text-align: center;
    font-size: 19px;
}

.hl-panel-title span {
    font-size: 16px;
}

.hl-panel-select {
    position: absolute;
    right: 20px;
    top: 10px;
}

.hl-details-link {
    font-size: 13px;
    text-decoration: underline;
    position: absolute;
    right: 35px;
    top: 16px;
}

.hl-table {
    width: 100%;
    font-size: 14px;
    margin: auto;
}

.hl-table-wrapper {
    max-height: 300px;
    overflow-y: scroll;
}

.hl-table tr {
    height: 50px;
    padding: 20px;
}

.hl-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2
}

.hl-table .badge-cell {
    text-align: center;
}

/* Resources Map */

#map {
    position: relative;
    height: 600px;
}

#map svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#tooltip_map {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Rubik', 'Open sans', sans-serif;
    font-weight: 500;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5)!important;
    border: 1px solid #cccccc;
}

.tooltip-header > *,
.tooltip-cost > * {
    display: inline-block;
}

.tooltip-header {
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.tooltip-header i.fa.fa-globe {
    color: #d9534f;
    font-size: 2.5em;
    margin-right: 10px;
}

.tooltip-cost {
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
}

.tooltip-cost span {
    margin-right: 10px;
}

.tooltip-help {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 0.9em;
    padding: 0 10px;
    font-style: italic;
    text-align: center;
}

.map-empty-selection {
    font-size: 1.5em;
}

.map-empty-selection i {
    color: #d9534f;
}

.row-regions-details {
    margin: 0;
}

.region-details .header {
  height: 10px;
}

.region-info .info {
    text-align: center;
}

.region-name {
    text-align: center;
}

.zone-item {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.zone-item:last-child {
    border-bottom: none;
}

.zone-name {
    font-size: 1.3em;
}

.zone-products {
    padding: 10px;
    padding-bottom: 0;
}

.zone-products {
    padding: 10px;
    padding-bottom: 0;
}

/* Resources */
.resources h3.white-box-title {
    margin-bottom: 10px;
}

.resources i {
    color: #4885ed;
}

.resources .wrapper {
    display: inline-block;
    margin: 0 10px;
}

.resources .popover-trigger i {
    color: #000000;
    font-size: 0.75em;
}

.rt-th input {
    border: none;
    height: 100%;
    color: #666;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.rt-th select {
    border: none;
    margin: 0;
    color: #666;
}

.cpu-stats,
.cpu-stats .wrapper,
.cpu-stats .wrapper .popover-trigger,
.jvm-memory-pressure-stats,
.jvm-memory-pressure-stats .wrapper,
.jvm-memory-pressure-stats .wrapper .popover-trigger {
    width: 100%;
    height: 100%;
}

.cpu-stats .wrapper,
.jvm-memory-pressure-stats .wrapper {
    margin: 0;
}

.dbs .rt-td i {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}

.vms .rt-tr-group .rt-td:last-child {
    text-align: center;
}

.rt-td .wrapper .popover-trigger i {
    color: #4885ed;
    font-size: 1.5em;
}

.rt-td .wrapper .popover-trigger i.red,
.dbs .rt-td i.fa-times-circle {
    color: #2d6eb9;
}

.rt-td .wrapper .popover-trigger i.orange {
    color: #ff9800;
}

.rt-td .wrapper .popover-trigger i.green,
.dbs .rt-td i.fa-check-circle {
    color: #4caf50;
}

.rt-td .wrapper .popover-trigger i.grey {
    color: #565656;
}

.rt-td .wrapper .popover-trigger i.disabled {
    color: #cccccc;
    font-size: 1.5em;
}

.tags-list,
.volumes-list,
.costs-list,
.unusedStorage-list {
    padding: 10px;
    border: 1px solid #ddd;
}

.tags-item,
.volumes-item,
.costs-item,
.unusedStorage-item {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
}

.tags-item:last-child,
.volumes-item:last-child,
.costs-item:last-child,
.unusedStorage-item:last-child {
    border-bottom: none;
}

.ioDetails,
.unusedStorageDetails,
.success-percentage {
    position: relative;
}

.ioDetails > div,
.unusedStorageDetails > div,
.success-percentage > div {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.ioDetails .popover-trigger i,
.unusedStorageDetails .popover-trigger i,
.function-name .popover-trigger i,
.success-percentage .popover-trigger i {
    color: #cccccc !important;
}

.wrapper .popover-trigger i.btn {
    font-size: 1.45em;
}

.wrapper .popover-trigger i.btn:active {
    background: #ffffff;
    color: #4885ed;
    border-color: #f1f1f1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Events */

.btn.enabled {
    background: #4885ed;
    color: #ffffff;
}

.btn.disabled,
.event-hidden {
    color: #666666;
}

.filters-badge {
    background: #4885ed;
    color: #ffffff;
    margin-left: 5px;
}

.filters-list .filter-list-item {
    display: block;
    padding-left: 0;
}

.filters-list .filter-list-item:last-child {
    border-bottom: none;
}

.filters-list .filter-list-item .checkbox.selected svg path,
.filters-list .filter-list-item .checkbox.selected svg path {
    fill: #4885ed;
}

.filters-list .filter-list-item .item-info > *,
.filters-list .filter-list-item .item-info .item-name > *,
.event-filter.event-filter-summary .event-filter-summary-value > * {
    display: inline-block;
}

.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-monthday {
    float: right;
}

.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-monthday,
.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-monthday > span {
    display: block;
}

.filters-list .filter-list-item .item-info .item-name {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 500;
}

.filters-list .filter-list-item .item-actions {
    text-align: right;
    margin-top: 15px;
}

.filters-list .filter-list-item .item-actions > * {
    display: inline-block;
    margin-left: 20px;
}

.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-invalid {
    color: #2d6eb9;
}

.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-weekday strong:after,
.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-monthday strong:after,
.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-products strong:after {
    content: ",";
    margin: 0 3px;
}

.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-weekday strong:last-child:after,
.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-monthday strong:last-child:after,
.event-filter.event-filter-summary .event-filter-summary-value .event-filter-value-products strong:last-child:after {
    content: none;
    margin-right: 0;
}

.filter-btn-group .filter-btn-group-items,
.filter-btn-group .filter-btn-group-actions {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.filter-btn-group button {
    flex: 1;
}

.filter-btn-group .filter-btn-group-actions button {
    max-width: 200px;
}

.filter-btn-group .filter-btn-group-items button.active {
    background: #4885ed;
    color: #ffffff;
}

.filter-btn-group.week_day .filter-btn-group-items button {
    max-width: 120px;
    text-align: center;
}

.filter-btn-group.month_day .filter-btn-group-items {
    flex-direction: column;
}

.filter-btn-group.month_day .filter-btn-group-items .week {
    margin: 10px calc((100% - 700px) / 2);
    width: 700px;
}

.filter-btn-group.month_day .filter-btn-group-items .week button {
    width: 50px;
    margin: 0 25px;
    text-align: center;
}

.filter-btn-group.level .filter-btn-group-items button {
    max-width: 100px;
    text-align: center;
}

.filter-btn-group.level .filter-btn-group-items button[value="0"] {
    border-color: #4caf50;
    color: #4caf50;
}

.filter-btn-group.level .filter-btn-group-items button.active[value="0"] {
    background: #4caf50;
    color: #ffffff;
}

.filter-btn-group.level .filter-btn-group-items button[value="1"] {
    border-color: #4885ed;
    color: #4885ed;
}

.filter-btn-group.level .filter-btn-group-items button.active[value="1"] {
    background: #4885ed;
    color: #ffffff;
}

.filter-btn-group.level .filter-btn-group-items button[value="2"] {
    border-color: #ff9800;
    color: #ff9800;
}

.filter-btn-group.level .filter-btn-group-items button.active[value="2"] {
    background: #ff9800;
    color: #ffffff;
}

.filter-btn-group.level .filter-btn-group-items button[value="3"] {
    border-color: #2d6eb9;
    color: #2d6eb9;
}

.filter-btn-group.level .filter-btn-group-items button.active[value="3"] {
    background: #2d6eb9;
    color: #ffffff;
}

.multiple-values > button {
    margin-left: calc(100% - 40px);
    width: 40px;
}

.multiple-values .multiple-values-item {
    margin: 10px 0;
}

.multiple-values .multiple-values-item > * {
    display: inline-block;
}

.multiple-values .multiple-values-item input {
    width: calc(100% - 50px);
}

.multiple-values .multiple-values-item button {
    float: right;
    width: 40px;
    color: #2d6eb9;
}